.img {
    height:100px;
    margin-left:180px; 
    margin:30px;
}
.mr{
    margin-top: 30px;
    
}
.align {
    text-align: left;
}
*{
    padding:0;
    margin: 0;
}
.head {
    font-size:15px;
    padding:90px;
    font-family: "roboto";

    
}
.container1 {
    background-color: #f8f2f8;
    padding:0%;
    margin-top: 0%;
}
.card {
    
    margin: 35px;
    border-radius: 20px;
}
.create-head {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    /* font-family: "roboto"; */
}
.para {
    text-align: center;
    font-size: 12px;
    color:rgb(45, 70, 161);
}
.button {
    height:30px;
margin-left:100px;
margin-right:100px;
margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    background-color:white;
    border:3px;
   font-size: 12px; 
   width:60%;
}

.forgotbtn {
    height:25px;
    border-radius: 10px;
    text-align: center;
    background-color:white;
    border:3px;
   font-size: 12px; 
   color: blue;
   
}

.button1 {
    height:25px;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    background-color:white;
    border:1px solid rgb(96, 96, 99);
   font-size: 12px;   
   color:rgb(20, 20, 95);
   font-weight:800;

}
.loginbutton {
    height:25px;
    border-radius: 10px;    
   color:blue;
   font-weight: 100px;  
    border: none;
   font-weight: bold;
   font-size: 12px;  
   padding: 30px;
}
.log{
   margin-left: 30px;
   margin-right: 30px;
   border-radius: 20px;
}
.forgot {
    text-align:  end;
    font-size: 10px;
    
    margin-right: 10px;
    padding: 10px;  
}
a{
    text-decoration: none;
}
.form-group {
    margin-left: 30PX;
    margin-right:30px ;
    padding-top: 0px;
}
.form-group label{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-control {
    border-radius:10px ;
    
    height:30px ;
    font-size: 12px;

}

#number {
    border-radius:10px ;
    height:30px ;
    font-size: 12px;
}
.lb-lable{
    font-size: 10px;
    padding: 8px;

}
.fa-brands{
    margin: 8px;
}
.img-fluid {
    height:30vh;
    
      margin-top:0px; 
     margin-left: 40px; 
    border-radius: 30px;
    
}

.p{
    font-size: 10px;
    color: grey;
    
}

.form-check {
    /* margin-left:20px ;
    margin-right:20px ;
    margin-top: 10px; */
    margin: 20px;
}
.form-check-input:checked{
    background-color:green;
    }
 
#icon-right{
   /* float: left; */
   margin-left:20px;
}
.btn-register{
    background-color:rgb(28, 28, 45);
    color: white;
    margin-left: 30px;
    height: 28px;
    border-radius: 5px;
    font-size: 12px;
    
}  
.paragrapgh {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 12px;
}
.image2 {
    height: 60px;
    
    margin-top: 20px;
     /* margin-left: 60px;  */
    border-radius: 5px; 

}

.p3 {
    color:white;
    font-size: 13px;
    text-align: center;
    
}